<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body>

{% include _browser-upgrade.html %}



    <div class="container">
      {% include _navigation.html %}

      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-center">{{site.title}}</h1>
            <h3 class="text-center">{{site.subtitle}}</h3>
            <p class="text-center">{{site.description}}</p>
            <div class="text-center">
              <p><a class="btn btn-lg btn-info" href="{{site.download_url}}" role="button">Download {{site.product_name}}</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{{ site.url }}/images/oberafrontpage.png"/>
          </div>
        </div>
      </div>


      <div class="row">
        {% for post in site.posts limit:3 %}
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </div>
              <div class="panel-body">
                {{post.content | strip_html | strip_newlines | truncate: 120 }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="text-center small">{{site.site_copyright}}</p>
        </div>
      </div>

    </div>



{% include _scripts.html %}

</body>
</html>
